.colores{
    background-color: wheat;
  }
.formulario1{ /*formato del cuadrante 1*/
  float: left;
  margin-left:  390px;/*posecionar la caja1*/
  width: 350px;/*largo*/
  height: 355px;/*ancho*/
   }
.formulario2{/*formato del cuadrante 2*/
  float: right;
  margin-right: 230px;/*posecionar la caja2*/
  width: 350px;/*largo*/
  height: 855px;/*ancho*/
  }
.caja2{
  background-color: chocolate;
  height: 623px;
  }
.colores1{
  background-color: chocolate;/*color a el cuadrante del formulario*/
  }